<!DOCTYPE html>
<html>
  <head>
    <title>smart ventilator overview</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    {% include 'style.css' %}
  </head>
  <body>

    {% for n in device_Models %}
      {% if n.state == 'warning'%}
        {% set device_state_style = 'device-warning' %}
      {% endif %}
      {% if n.state == 'ok'%}
        {% set device_state_style = 'device-ok' %}
      {% endif %}
      {% if n.state == 'error'%}
        {% set device_state_style = 'device-error' %}
      {% endif %}

      <div class="device {{device_state_style}}">
        <div class="attribute">
            <span class="attribute-title">ID: </span>{{n.device_id}}
        </div>
        <div class="attribute">
          <span class="attribute-title">IP address: </span>{{n.ip_address}}
        </div>
        <div class="attribute">
          <span class="attribute-title">Patient name: </span>{{n.patient_name}}
        </div>
        <div class="attribute">
          <span class="attribute-title">State: </span>{{n.state}}
        </div>
      </div>
    {% endfor %}

  </body>
</html>