<style type="text/css">

   body{
    padding: 5px;
   }

  .device{
    width: 600px;
    background-color: grey;
    margin: 5px;
    display: inline-block;
    color: white;
    padding: 10px;
    border-radius: 4px;
  }

  .device-warning{
    background-color: orange;
  }

  .device-ok{
    background-color: green;
  }

  .device-error{
    background-color: red;
  }

  .attribute-title{
     font-weight: bold;
  }

</style>